
.description__sponsors {
    margin-bottom: 21rem;
    padding: 6rem 5rem 10rem 5rem;
}

.break {
    display: inline-block;
    margin: 4rem auto 2rem;
    background-color: #ff2b06;
    height: 2px;
    width: 85%;
}

.break--2 {
    display: inline-block;
    margin: 2rem auto 5rem;
    background-color: #ff2b06;
    height: 1px;
    width: 65%;
}

.sponsors_title {
    font-size: 2.5rem;
}

.sponsors_gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.sponsors_gallery > *:not(:last-child) {
    margin-right: 8rem;
}

@media only screen and (max-width: 50em) {
    .sponsors_gallery {
        flex-direction: column;
    }

    .sponsors_gallery > *:not(:last-child) {
        margin-right: 0;
        margin-bottom: 5rem;
    }
}

.sponsors__picture {
    height: 11rem;
    width: auto;
    transition: all .2s ease-in-out;
}

@media only screen and (max-width: 50em) {
    .sponsors__picture {
        height: 15rem;
    }
}

@media only screen and (hover: hover) {
    .sponsors__picture {
        filter: grayscale(100%);
    }

    .sponsors__picture:hover {
        filter: grayscale(0);
    }
}
